{
  "presets": [
    "minify",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 0.25%", "not dead"],
        },
      },
    ],
    "@babel/preset-typescript",
  ],
  "ignore": ["**/*.d.ts"],
}
