# Auto detects "text" content and normalize end of line sequences to `LF` in Git, and use OS-specific ones locally.
* text=auto

# Exclude Dockerfile from GitHub language statistics.
Dockerfile linguist-vendored
# Exclude Node.js 0.10 compatibility test (ES5 JavaScript) from GitHub language statistics.
tests/node-compat/test.js linguist-vendored
