name: Test

on:
  push:
    branches: ['main']
    tags: ['v*']
  pull_request:
    branches: ['**']
  workflow_dispatch:

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        node-version: [16, 18, latest]
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v3

      # Setup
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      # Test
      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Test
        run: npm run build
